@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Sen", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  color: #212121;
}
button {
  border: none;
}
body {
  background-color: #d9d9d9;
}
p {
  position: relative;
  top: 3rem;
}
#abbtn {
  background-color: #387cff;
  color: white;
  font-size: 18px;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 50px;
  margin-left: auto;
  padding-left: 40px;
  padding-right: 40px;
  font-family: "Sen", sans-serif;
  transition: 200ms;
}
#abbtn:hover {
  filter: drop-shadow(0px 5px rgba(0, 0, 0, 0.424));
  transition: transform 200ms;
  transform: translateY(-5px);
  cursor: pointer;
}

.header {
  color: black;
  min-height: 80px;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.11));
}
.main-nav {
  width: 90%;
  max-width: 1500px;
  margin: auto;
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
  min-height: 80px;
}

.linknav {
  margin-left: 30px;
  text-decoration: none;
  font-weight: 800;
}
#block1 {
  height: 100vh;
  background-attachment: fixed;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='59.428' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 85%, 1)'/><path d='M0 70.975V47.881m20-1.692L8.535 52.808v13.239L20 72.667l11.465-6.62V52.808zm0-32.95l11.465-6.62V-6.619L20-13.24 8.535-6.619V6.619L20 13.24m8.535 4.927v13.238L40 38.024l11.465-6.62V18.166L40 11.546zM20 36.333L0 47.88m0 0v23.094m0 0l20 11.548 20-11.548V47.88m0 0L20 36.333m0 0l20 11.549M0 11.547l-11.465 6.619v13.239L0 38.025l11.465-6.62v-13.24L0 11.548v-23.094l20-11.547 20 11.547v23.094M20 36.333V13.24'  stroke-linejoin='round' stroke-linecap='round' stroke-width='2.5' stroke='hsla(0, 0%, 88%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-102,-19.712)' fill='url(%23a)'/></svg>");
}

.minip {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.minipic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.intro {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#t1 {
  font-size: 72px;
  font-weight: 900;
  filter: drop-shadow(0px 5px rgba(0, 0, 0, 0.425));
}

#t2 {
  font-weight: 600;
  margin-top: 10px;
  font-size: 24px;
  filter: drop-shadow(0px 2px rgba(0, 0, 0, 0.161));
}
.boxattrib {
  font-weight: 900;
  background-color: #d9d9d9;
  flex-basis: 30px;
  flex: 1;
  text-align: center;
  padding: 15px 60px;
  border-radius: 8px;
}
.l1 {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.boxattrib1 {
  text-align: center;
  display: inline-block;
  flex-basis: 30px;
  flex: 1;
  font-weight: 600;
  padding: 15px 60px;
  border-radius: 8px;
  background-color: #d9d9d9;
}
#block2 {
  min-height: 100vh;
  background: white;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 4rem;
}
#title {
  text-align: center;
  display: block;
  padding: 60px 0px;
  font-size: 72px;
  font-weight: 800;
}

.title2 {
  font-size: 32px;
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
}
.container {
  position: relative;
  height: 100%;
  width: 90%;
  max-width: 1500px;
  margin: auto;
}

#title3 {
  text-align: center;
  position: relative;
  font-size: 66px;
  font-weight: 800;
}
#title4 {
  text-align: center;
  position: relative;
  top: 2rem;
  font-size: 66px;
  font-weight: 800;
}
#b9 {
  background-color: #387cff;
  color: white;
  text-decoration: none;
  transition: 200ms;
}

#b9:hover {
  filter: drop-shadow(0px 5px rgba(0, 0, 0, 0.245));
  transform: translateY(-4px);
  transition: transform 200ms;
}
.aboutme {
  font-weight: 600;
  width: 90%;
  max-width: 60ch;
  margin: auto;
  text-align: justify;
}
.leftalign {
  display: grid;
  position: relative;
  gap: 1rem;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.107));
}
#block3 {
  min-height: 100vh;
  padding-bottom: 2rem;
}
.previmg {
  width: 100%;
  height: 100%;
  filter: blur(1px);
  object-fit: cover;
  transition: all 200ms;
}
.previmg:hover {
  filter: blur(3px) brightness(50%);
}
.techstack {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}
.proj {
  width: 90%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  height: 350px;
  margin-bottom: 10rem;
  border-radius: 10px;
  position: relative;
  bottom: 2rem;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.107));
}
.proj.reversed {
  flex-direction: row-reverse;
}
.tech {
  padding: 1rem;
  width: min(100%, 28rem);
  height: inherit;
  background: white;
  border-radius: 10px;
}
.prev {
  display: none;
}
.tech-2 {
  position: absolute;
  right: 0px;
  width: 40%;
  height: 100%;
  background: white;
  border-radius: 0px 10px 10px 0px;
}
#block4 {
  padding-bottom: 4rem;
  min-height: 100vh;
  background: white;
}

.form {
  padding: 3rem;
  min-height: 600px;
  max-width: 650px;
  width: 90%;
  background-color: #d9d9d9;
  margin: auto;
  border-radius: 10px;
  font-weight: 600;
  position: relative;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.107));
}
.formd {
  display: block;
  border: none;
  padding: 10px;
  border-radius: 5px;
  /* max-width: 600px; */
  width: 100%;
  margin: auto;
  transition: 200ms;
  margin-bottom: 5px;
}
.formd:focus {
  outline: 1px solid rgba(0, 0, 0, 0.211);
}
.fm {
  max-height: 400px;
  min-height: 400px;
}
#sm {
  background-color: #387cff;
  color: white;
  text-decoration: none;
  transition: 200ms;
  border: none;
  margin-top: 10px;
}
#sm:hover {
  transform: translateY(-2px);
  filter: drop-shadow(0px 3px rgba(0, 0, 0, 0.42));
  cursor: pointer;
}
.smbtn {
  font-weight: 900;
  background-color: #d9d9d9;
  padding: 15px 60px;
  border-radius: 8px;
}
.pjbtn {
  position: relative;
  top: 2rem;
  display: inline-block;
  font-weight: 900;
  background-color: #387cff;
  padding: 15px 40px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  margin-top: 10px;
  transition: 200ms;
}
.pjbtn:hover {
  transform: translateY(-5px);
  transition: transform 200ms;
  filter: drop-shadow(0px 5px rgba(0, 0, 0, 0.425));
}

footer {
  background-color: #d9d9d9;
}
.containerfooter {
  padding: 4rem;
  display: flex;
  max-width: 1200px;
  margin: auto;
}
.right {
  text-align: center;
}
.left {
  flex: 1;
}
.left p {
  max-width: 40ch;
  text-align: justify;
  margin-top: 20px;
}
.icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
  justify-content: center;
}
.icon {
  border-radius: 10px;
  display: grid;
  place-items: center;
  width: 60px;
  height: 60px;
  background-color: #212121;
}
/* DESKTOP AND LAPTOP */
@media (min-width: 1045px) {
  .prev {
    display: block;
    background-color: grey;
    flex: 1;
  }
  .tech {
    border-radius: 10px 0px 0px 10px;
  }
  .tech:nth-child(1) {
    border-radius: 0px;
  }
}

@media (min-width: 1300px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 90%;
    max-width: 1500px;
    margin: auto;
    gap: 40px;
  }
  .aboutme {
    max-width: 60ch;
    margin-left: auto;
    margin-right: unset;
  }
}

/* FOR MOBILE/TABLET */

@media (max-width: 665px) {
  .l1:nth-of-type(3) {
    flex-direction: column-reverse;
  }
  .header {
    padding: 1rem 0;
  }
  .main-nav {
    flex-direction: column;
  }
  #title {
    font-size: 36px;
  }
  #t1 {
    font-size: 48px;
  }
}

@media (min-width: 666px) {
  .navbar {
    margin-left: auto;
  }
}

@media (max-width: 1299px) {
  .containerfooter {
    flex-direction: column;
    gap: 2rem;
  }
  .left {
    text-align: center;
  }
  .left p {
    margin: 20px auto 0px;
  }
  .leftalign {
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
  }
  .tech-2 {
    position: absolute;
    right: 0px;
    width: 40%;
    height: 100%;
    background: white;
    border-radius: 0px 10px 10px 0px;
  }
  .l1 {
    display: flex;
  }
  .aboutme {
    margin-bottom: 50px;
  }
}
@media (max-width: 450px) {
  .tech {
    padding-bottom: 3rem;
  }
}
